@import "../../variables";

search-widget.small {
  .form-group {
    min-width: 100% !important;
  }

  .form-group.city-group input {
    margin: 0 !important;
    min-width: 100% !important;
  }

  .people {
    min-width: 80% !important;
  }
}

search-widget .calendar {
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: 0.3rem;
  background: white;
  z-index: 100;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.calendar-dialog-title {
  position: absolute;
  top: -10rem;
  left: 2rem;
  color: white;
  font-size: 12rem;
  font-weight: 800;
  text-transform: lowercase;
}

.calendar-dialog-toolbar {

}

search-widget calendar-widget {
  width: 100%;
  height: 100%;
  padding: 2rem;

  > button {
    font-size: 3rem;
    font-weight: 100;
  }
}

.swap {
  position: relative;
  bottom: -2rem;
  z-index: 10;

  flex: 0;
  flex-basis: 3.5rem;

  height: 3.5rem;

  border: $thin-border solid $widget-color;
  color: $main-color;
  background: $input-color;

  padding: 0;
  margin-top: -4.2rem;
  margin-right: -3.2rem;
  left: -1.6rem;

  font-size: 1.7rem;
}

form button.submit[type=submit] {
  min-width: 5rem;
  max-width: 5rem;

  font-size: 2.5rem;
  color: $main-color;

  padding: 0;

  ion-icon {
    display: block;
    margin: auto;
    width: 3rem;
    height: 3rem;
  }
}

.form-group.city-group {
  flex: 2;
}

.form-group.date-group {
  flex: 3;
}

@include tablet {
  .form-group.city-group,
  .form-group.date-group {
    min-width: 100%;
  }
}

@include phone {
  .form-group.city-group input {
    min-width: 100%;
  }

  .people {
    min-width: 100%;
  }

  form button.submit[type=submit] {
    max-width: 50%;

    border: $thin-border solid $main-color;
    font-size: 3.5rem;
  }
}

