
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Helvetica Neue;
}

body {
  margin: 0;
  padding: 0;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.button {
  height: 30rem;
  width: 30rem;
  padding: 1rem;
  margin: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex: 1;
  /* flex-direction: column; */
  flex-flow: column;
  /* flex-wrap: nowrap; */
  /* flex-basis: 20%; */
  flex-shrink: 0;
  color: #853566;
  background: #FFFFFF;
  border-top: 1rem solid #853566;
  font-size: 2.5rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  background-color: white;
}
.buttons :hover{
 background: #FCE3F3;
}

.header {
  position: fixed;
  height: 8rem;
  width: 100%;
  border-bottom: 10px solid #830065;
  background: rgba(255, 255, 255, 0.76);
  padding-top: 0.5rem;
  padding-left: 35px;
  font-size: 5rem;
  font-weight: 500;

  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.header > img {
  height: 11rem;
}

.jumbo {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 8rem;
  padding-bottom: 2.5rem;
  height: 65rem;
  background: url(jumbo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #558d6d;
}

.jumbo-content {
  width: 100%;
  max-width: 90rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}

label {
  min-width: 30rem;
  padding: 1rem 2rem;
  flex: 1;
  flex-basis: 50%;
  flex-shrink: 0;
  color: white;
  font-size: 2.7rem;
  text-shadow: 0 0 4px black;
}

input {
  -webkit-appearance: none;
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 0.8rem;
  background-clip: padding-box;
  font-size: 2.3rem;
  padding: 1rem 2rem;
  border: 3px solid rgba(255, 255, 255, 0.32);
  border-radius: 1rem 0 0 1rem;
}

label span {
  padding-left: 5px;
}
.input-dst, .input-dte {
  border-radius: 0 1rem 1rem 0;
}
.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  flex-basis: 5rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 3em;
  min-width: 80%;
  margin: 10%;
}
.button-description{
  font-size: 1.9rem;
  color: grey;
  margin: 2rem;
}