
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Helvetica Neue;
}

body {
  margin: 0;
  padding: 0;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.button {
  height: 30rem;
  width: 30rem;
  padding: 1rem;
  margin: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex: 1;
  /* flex-direction: column; */
  flex-flow: column;
  /* flex-wrap: nowrap; */
  /* flex-basis: 20%; */
  flex-shrink: 0;
  color: #853566;
  background: #FFFFFF;
  border-top: 1rem solid #853566;
  font-size: 2.5rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
  background-color: white;
}
.buttons :hover{
 background: #FCE3F3;
}

button {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  height: 8rem;
  width: 100%;
  border-bottom: 10px solid #830065;
  background: rgba(255, 255, 255, 0.76);
  padding-top: 1rem;
  padding-left: 35px;
  font-size: 5rem;
  font-weight: 500;

  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.header > img {
  height: 10rem;
}

.jumbo {
  padding: 8rem 6rem 2.5rem 6rem;
  height: 55rem;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 47%, rgb(255, 255, 255) 100%), url(rail.jpeg);
  background-size: cover;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: center,
    left,
    right;
  }

.jumbo-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.form-container {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
}

form {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 870px;
  margin: auto;


  background: #e6e6e6;
  position: relative;
  padding: 6rem;

  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.form-input {
  -webkit-appearance: none;
  display: block;
  flex: 1;
  flex-shrink: 0;

  height: 50px;
  max-width: 150px;
  margin-top: 0.8rem;
  background-clip: padding-box;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  margin: 0.25rem;
  border: 0;
  border-bottom: 3px solid rgb(131, 0, 101);
  background: white;
}

input.form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(211, 211, 211);
}

.swap {
  flex: 0;
  height: 35px;
  flex-basis: 35px;

  padding: 0;

  margin-right: -37.5px;
  background: white;
  z-index: 10;

  position: relative;
  left: -20px;
  border: 4px solid #e6e6e6;
}

.date {
  color: rgb(211, 211, 211);
}

.submit {
  max-width: 50px;
}

#ida-vuelta {
  position: absolute;
  /* visibility: hidden; */
  /* display: none; */

  width: 400px;
  height: 200px;



  /* // border: 4px solid rgb(255, 255, 255); */
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 3px;


  transform: scale(0);
  opacity: 0;
  transition-property: transform opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transform-origin: left bottom;

}

.show {
  display: block !important;
  visibility: visible !important;
  transform: scale(1) !important;
  opacity: 1 !important;

}


label span {
  padding-left: 5px;
}
.input-dst, .input-dte {
  border-radius: 0 1rem 1rem 0;
}
.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  flex-basis: 5rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 3em;
  min-width: 80%;
  margin: 10%;
}
.button-description{
  font-size: 1.9rem;
  color: grey;
  margin: 2rem;
}