@import "../../variables";

results-table {
  ion-icon {
    display: inline-block;
    width: 30px;
    fill: $main-color;
    transition: transform ease-in-out 400ms;
    &.reversed {
      transform: rotateZ(180deg);
    }
  }

  .tickets {
    display: flex;
    width: 100%;
    font-size: 2rem;
    border-bottom: .1rem solid rgba(128, 128, 128, .493);
    margin: 0;
    padding: 1.5rem 0;

    > div {
      text-align: left;
      flex: 1;
      padding-left: 1rem;
    }
  }

  .tickets.selected {
    color: $focus-color;
    font-weight: 600;
    border-bottom: $thin-border solid $focus-color;
  }

  .tickets.head {
    border-bottom: $thin-border solid $main-color;
    font-weight: 500;
    margin-top: 3rem;
    padding-bottom: 1rem;
  }

  .no-trains {
    font-size: 3rem;

    margin-top: 10rem;
    text-align: center;
  }
}
