@import "../../variables";

renfe-jumbo {
  display: block;
  height: 65rem;

  background: #dec9ff;
  background-repeat: no-repeat,
  no-repeat,
  no-repeat;

  padding: $header-height 6rem 2.5rem;
  background-position: center, center, center;
  background-size: cover;
  background-color: #60d096;
  background-image: linear-gradient(to bottom, rgba(255, 184, 184, .52) 0%, rgba(255, 255, 255, 0) 66%), url("/assets/images/alex.jpg");

  h1 {
    width: 45rem;

    text-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    color: #fff;

    text-align: left;
    padding-left: 1rem;
  }

  .form-container {
    position: absolute;

    bottom: -6rem;

    left: 0;
    right: 0;
    will-change: transform;
  }

  .widget {
    padding: 4rem 6rem;
  }

  .jumbo-content {
    position: relative;

    width: 100%;
    max-width: 87rem;
    height: 100%;

    margin: auto;
  }

  @include tablet {
    padding: 3rem;
    h1 {
      width: 40rem;
      font-size: 5.5rem;
    }

    .widget {
      padding: 4rem;
    }
  }

  @include phone {
    padding: 2rem;

    h1 {
      width: 30rem;
      font-size: 4.7rem;
    }

    .widget {
      padding: 2rem;
    }

    .form-container {
      bottom: 0;
    }
  }

  @media (prefers-reduced-motion) {
    /* ajustar estilos para reducir el movimiento */
    transform: none !important;
  }

}
