$focus-color: blue;
$selected-color: red;

calendar-widget {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 3px;
  text-align: center;

  > button {
    font-size: 14px;

    .selected {
      border: 3px solid $selected-color;
      color: $selected-color;
    }

    &:hover {
      border: 3px solid $focus-color;
      color: $focus-color;
    }
  }

  > div {
    font-weight: 500;
    font-size: 16px;
    margin: auto 0;
    padding-bottom: 5px;
  }
}
