button {
  border: 0;
  -webkit-appearance: none;
  margin: 0;
  padding: 0; }

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.button {
  display: flex;
  flex: 1;
  flex-flow: column;
  flex-shrink: 0;
  align-items: center;
  width: 30rem;
  height: 29rem;
  border-top: 1rem solid #853566;
  font-size: 2.5rem;
  color: #853566;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
  transition: transform 100ms ease-in-out;
  text-align: center;
  padding: 1rem;
  margin: 3rem; }

.button:hover {
  background: #fce3f3;
  transform: scale(1.05); }

.button-description {
  font-size: 1.9rem;
  color: #555;
  margin: 2rem; }
