@import "./variables";

button {
  border: 0;

  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-button {
  display: flex;

  flex: 1;
  flex-flow: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  min-width: 20rem;
  height: 29rem;

  border-top: 1rem solid #853566;
  font-size: 2.5rem;
  color: #853566;
  background: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .05);
  transition: transform 100ms ease-in-out;

  text-align: center;
  padding: 1rem 1rem 2rem;
  margin: 1rem;

  &:hover {
    border-top: $fat-border solid #4c85f5;
    color: #4c85f5;
  }

  > i {
    display: inline-block;
    font: normal normal normal 1.4rem/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 3em;
    min-width: 80%;
    margin: 0;
  }

  > h4 {
    margin: 2rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  > p {
    font-size: 1.9rem;
    margin: 0;
  }
}
