@import "./variables";

.typewriter {
  display: block;

  width: fit-content;
  height: 1.2em;

  font-weight: 500;
  letter-spacing: .1rem;
  background: #0c2228;

  margin-left: -.5rem;
  padding: 0 1rem;
}

.jumbo {
  height: 65rem;

  background: #dec9ff;
  background-repeat: no-repeat,
  no-repeat,
  no-repeat;
  background-size: cover;

  padding: $header-height 6rem 2.5rem;
  background-position: center, center, center;
}

.jumbo1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 47%, rgb(255, 255, 255) 100%), url("../assets/rail.jpeg");
}

.jumbo2 {
  background-color: #60d096;
  background-image: linear-gradient(to bottom, rgba(255, 184, 184, .52) 0%, rgba(255, 255, 255, 0) 66%), url("../assets/alex.jpg");
}

.jumbo3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 47%, rgba(86, 0, 255, .79) 100%), url("../assets/marina.jpg");
}

.jumbo4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 47%, rgb(255, 255, 255) 100%), url("../assets/jumbo1.jpg");
}

.jumbo5 {
  background-image: linear-gradient(to bottom, rgba(216, 213, 208, .95) 12%, rgba(255, 255, 255, 0) 67%), url("../assets/maxim.jpg");
}

.jumbo h1 {
  width: 45rem;

  text-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  color: #fff;

  text-align: left;
  padding-left: 1rem;
}

.jumbo-small {
  height: $header-height;
  background-position-y: top;
  padding: 0;
}

.jumbo-content {
  position: relative;

  width: 100%;
  max-width: 87rem;
  height: 100%;

  margin: auto;
}

.form-container {
  position: absolute;

  bottom: -6rem;

  left: 0;
  right: 0;
  will-change: transform;
}

.form-group {
  position: relative;
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.widget {
  position: relative;
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


  background: $widget-color;
  // background: linear-gradient(20deg, #d5c8d3, #689072);
  box-shadow: 0 .5rem 2.5rem rgba(0, 0, 0, .1);

  padding: 4rem 6rem;
  border-radius: $border-radius;
}


.form-input {
  display: block;

  flex: 1;

  width: 0;
  height: 5rem;

  border: 0;
  border-bottom: $thin-border solid rgb(131, 0, 101);
  font-size: 1.8rem;
  background: #fff;
  // background: rgba(255, 255, 255, 0.75);

  border-radius: 0;
  background-clip: padding-box;
  padding: 1rem 2rem;
  padding-right: 1rem;
  margin: .25rem;
  margin-top: .8rem;
  -webkit-appearance: none;
}

input.form-input::-webkit-input-placeholder {
  color: rgb(211, 211, 211);
}



input.form-input:focus {
  border-bottom: $thin-border solid $focus-color;
  outline: 0;
}

.swap {
  position: relative;
  bottom: -2rem;
  z-index: 10;

  flex: 0;
  flex-basis: 3.5rem;

  height: 3.5rem;


  border: $thin-border solid #e6e6e6;
  color: $main-color;
  background: #fff;

  padding: 0;
  margin-top: -3.75rem;
  margin-right: -3.75rem;
  left: -2rem;
}

button.form-input:focus {
  border: $thin-border solid $focus-color;
  outline: 0;
}

.origin,
.destination {
  min-width: 14rem;
}

.form-group {
  flex: 4;
  flex-wrap: nowrap;

  margin: 2rem -.25rem;
}

.date,
.people {
  min-width: 14rem;

  color: rgb(211, 211, 211);
}

.date {
  flex-grow: 3;
}

.people {
  flex-grow: 2;
}

.submit {
  min-width: 5rem;
  max-width: 5rem;

  font-size: 2.5rem;
  color: $main-color;

  padding: 0;
}

#ida-vuelta {
  position: absolute;

  width: 40rem;
  height: 20rem;

  background: rgba(255, 255, 255, .75);
  opacity: 0;
  transform: scale(0);
  transition-duration: 150ms;
  transition-property: transform opacity;
  transition-timing-function: ease-in-out;

  transform-origin: left bottom;
  border-radius: $border-radius;
  -webkit-backdrop-filter: saturate(180%) blur(2rem);
}

.show {
  display: block !important;

  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
}


@include tablet {
  .jumbo {
    padding: 3rem;
  }

  .widget {
    padding: 4rem;
  }

  .origin,
  .destination {
    min-width: 100%;
  }

  .form-container {
    transform: none !important;
  }

  h1,
  h2 {
    font-size: 5.5rem;
  }

  .jumbo h1 {
    width: 40rem;
  }

  .content {
    padding: 8rem 3rem;
  }

  .cities {
    padding: .5rem;
  }

  .content h2 {
    text-align: center;
  }
}

@include phone {
  .jumbo {
    padding: 2rem;
  }

  .jumbo h1 {
    width: 30rem;
  }

  .widget {
    padding: 2rem;
  }

  h1,
  h2 {
    font-size: 4.7rem;
  }

  .form-container {
    bottom: 0;
  }

  .form-group {
    min-width: 100%;
  }

  .date,
  .people {
    min-width: auto;
  }

  .header {
    padding-top: 1.4rem;
  }

  .header > img {
    height: 5rem;
  }

  .submit {
    max-width: 50%;

    border: $thin-border solid $main-color;
    font-size: 3.5rem;
  }

  .content {
    padding: 1rem .5rem;
  }
}

@media (prefers-reduced-motion) {
  /* ajustar estilos para reducir el movimiento */
  transform: none !important;
}
