.jumbo {
  height: 65rem;

  background: #dec9ff;
  background-repeat: no-repeat,
  no-repeat,
  no-repeat;
  background-size: cover;

  padding: 8rem 6rem 2.5rem;
  background-position: center,
    left,
    right;
}

.jumbo1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 47%, rgb(255, 255, 255) 100%), url("assets/rail.jpeg");
}

.jumbo2 {
  background-image: linear-gradient(to bottom, rgba(255, 184, 184, .52) 0%, rgba(255, 255, 255, 0) 66%), url("assets/alex.jpg");
}

.jumbo3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 47%, rgba(86, 0, 255, .79) 100%), url("assets/marina.jpg");
}

.jumbo4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 47%, rgb(255, 255, 255) 100%), url("assets/jumbo1.jpg");
}

.jumbo5 {
  background-image: linear-gradient(to bottom, rgba(216, 213, 208, .95) 12%, rgba(255, 255, 255, 0) 67%), url("assets/maxim.jpg");
}

.jumbo h1 {
  width: 50rem;

  font-size: 7rem;
  font-weight: 200;
  text-shadow: 0 0 1rem rgb(0, 0, 0);
  color: #fff;

  text-align: left;
  padding-left: 1rem;
}

.jumbo-content {
  position: relative;

  width: 100%;
  max-width: 87rem;
  height: 100%;

  margin: auto;
}

.form-container {
  position: absolute;

  bottom: -6rem;

  left: 0;
  right: 0;
  will-change: transform;
}

form {
  position: relative;
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background: #e6e6e6;
  box-shadow: 0 .5rem 2.5rem rgba(0, 0, 0, .1);

  padding: 6rem;
  border-radius: .2rem;
}

.form-input {
  display: block;

  flex: 1;
  flex-shrink: 0;

  max-width: 15rem;
  height: 5rem;

  border: 0;
  border-bottom: .3rem solid rgb(131, 0, 101);
  font-size: 1.8rem;
  background: #fff;

  background-clip: padding-box;
  padding: 1rem 2rem;
  margin: .25rem;
  margin-top: .8rem;
  -webkit-appearance: none;
}

input.form-input::-webkit-input-placeholder {
  color: rgb(211, 211, 211);
}

.swap {
  position: relative;
  z-index: 10;

  flex: 0;
  flex-basis: 3.5rem;

  height: 3.5rem;

  border: .4rem solid #e6e6e6;
  background: #fff;

  padding: 0;
  margin-right: -3.75rem;
  left: -2rem;
}

.date {
  color: rgb(211, 211, 211);
}

.submit {
  max-width: 5rem;
}

#ida-vuelta {
  position: absolute;

  width: 40rem;
  height: 20rem;

  background: rgba(255, 255, 255, .75);
  opacity: 0;
  transform: scale(0);
  transition-duration: 150ms;
  transition-property: transform opacity;
  transition-timing-function: ease-in-out;

  transform-origin: left bottom;
  border-radius: .3rem;
  -webkit-backdrop-filter: saturate(180%) blur(2rem);
}

.show {
  display: block !important;

  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
}
