.jumbo {
  padding: 8rem 6rem 2.5rem 6rem;
  height: 65rem;
  background: #dec9ff;

  background-size: cover;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: center,
    left,
    right;
}

.jumbo1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 47%, rgb(255, 255, 255) 100%), url(assets/rail.jpeg);
}

.jumbo2 {
  background-image: linear-gradient(to bottom, rgba(255, 184, 184, 0.52) 0%, rgba(255, 255, 255, 0) 66%), url(assets/alex.jpg);
}

.jumbo3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 47%, rgba(86, 0, 255, 0.79) 100%), url(assets/marina.jpg);
}

.jumbo4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 47%, rgb(255, 255, 255) 100%), url(assets/jumbo1.jpg);
}

.jumbo5 {
  background-image: linear-gradient(to bottom, rgba(216, 213, 208, 0.95) 12%, rgba(255, 255, 255, 0) 67%), url(assets/maxim.jpg);
}

.jumbo h1 {
  font-weight: 200;
  font-size: 7rem;
  width: 50rem;
  text-align: left;
  padding-left: 1rem;
  color: #ffffff;
  text-shadow: 0 0 1rem rgb(0, 0, 0);
}

.jumbo-content {
  position: relative;
  width: 100%;
  max-width: 87rem;
  height: 100%;
  margin: auto;
}

.form-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6rem;
  will-change: transform;
}

form {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background: #e6e6e6;
  position: relative;
  padding: 6rem;

  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}

.form-input {
  -webkit-appearance: none;
  display: block;
  flex: 1;
  flex-shrink: 0;

  height: 5rem;
  max-width: 15rem;
  margin-top: 0.8rem;
  background-clip: padding-box;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  margin: 0.25rem;
  border: 0;
  border-bottom: 0.3rem solid rgb(131, 0, 101);
  background: white;
}

input.form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(211, 211, 211);
}

.swap {
  flex: 0;
  height: 3.5rem;
  flex-basis: 3.5rem;

  padding: 0;

  margin-right: -3.75rem;
  background: white;
  z-index: 10;

  position: relative;
  left: -2rem;
  border: 0.4rem solid #e6e6e6;
}

.date {
  color: rgb(211, 211, 211);
}

.submit {
  max-width: 5rem;
}

#ida-vuelta {
  position: absolute;
  /* visibility: hidden; */
  /* display: none; */

  width: 40rem;
  height: 20rem;



  /* // border: 4px solid rgb(255, 255, 255); */
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: saturate(180%) blur(2rem);
  backdrop-filter: saturate(180%) blur(2rem);
  border-radius: 0.3rem;


  transform: scale(0);
  opacity: 0;
  transition-property: transform opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transform-origin: left bottom;

}

.show {
  display: block !important;
  visibility: visible !important;
  transform: scale(1) !important;
  opacity: 1 !important;

}
