@import "./variables";

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 9px;
}

body {
  background: $main-color;

  margin: 0;
  padding: 0;
}

button {
  border: 0;

  padding: 0;
  -webkit-appearance: none;
  margin: 0;
}

.github {
  position: fixed;
  top: 30px;
  z-index: 1000;

  width: 200px;

  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background: #0c2229;
  transform: rotateZ(45deg);

  padding: 5px 0;
  text-align: center;
  right: -60px;
}

.header {
  position: absolute;

  width: 100%;
  height: $header-height;

  border-bottom: $fat-border solid $main-color;

  padding-left: 3.5rem;
  padding-top: 1rem;
}

.header > img {
  height: 10rem;
}

.content {
  background: #fff;

  padding: 12rem 10rem;
}

h1,
h2 {
  font-size: 7rem;
  font-weight: 200;
  color: #fff;
}

.content > h2 {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  display: block;

  background: rgba(0, 0, 0, .56);

  margin: 0;
  padding: 3.5rem 0;

  -webkit-backdrop-filter: saturate(180%) blur(2rem);
}

.footer {
  background: $main-color;

  padding: 15rem;
}
