@import "../../variables";

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 9px;
}

body {
  background: rgb(245, 245, 245);
  //background: $main-color;

  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background: transparent;
  border-radius: 0;
  padding: 0;
  -webkit-appearance: none;
  margin: 0;
}

button:focus {
  outline: 0;
}

h1,
h2 {
  font-size: 7rem;
  font-weight: 200;
  color: #fff;
}

.widget {
  background: $widget-color;
  // background: linear-gradient(20deg, #d5c8d3, #689072);
  box-shadow: 0 .5rem 2.5rem rgba(0, 0, 0, .1);

  padding: 1rem;
  border-radius: $border-radius;
}

.content {
  background: #fff;

  padding: 12rem 10rem;

  > h2 {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    display: block;

    background: rgba(0, 0, 0, .56);

    margin: 0;
    padding: 3.5rem 0;

    -webkit-backdrop-filter: saturate(180%) blur(2rem);
  }
}


.cities {
  background: #000;

  padding-top: 0;
}

.flex-section {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  padding: 5rem;
}

.side-container {
  flex: 1;

  min-width: 31rem;
  max-width: 31rem;

  margin-right: 5rem;

  .sticky {
    position: sticky;
    top: 4rem;
  }

  .widget {
    margin-bottom: 5rem;
  }
}

.main-container {
  flex: 2;

  min-width: 65rem;
  max-width: 85rem;
}


.main-content {
  position: relative;
  min-height: 60rem;

  background: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .05);

  padding: 2.5rem;
  border-radius: $border-radius;

  h1 {
    position: absolute;
    top: -12rem;
    color: black;
    font-weight: 400;
    text-transform: lowercase;
    z-index: -1;
    font-size: 8rem;
    opacity: 0.1;
  }

  h2 {
    font-size: 5rem;
    text-transform: capitalize;
    color: $main-color;

    margin: 0;
  }

  h3 {
    color: $main-color;

    margin: 0;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .form-group {
    position: relative;
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    flex: 1;
  }

  h3 {
    flex-basis: 100%;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 1rem;
  }

  i.fa {
    font-size: 2.5rem;
    color: $main-color;
  }

  input,
  button[type='submit'] {
    display: block;

    flex: 1;

    width: 0;
    height: 5rem;

    border: 0;
    border-bottom: $thin-border solid rgb(131, 0, 101);
    font-size: 1.8rem;
    background: #fff;
    // background: rgba(255, 255, 255, 0.75);

    border-radius: 0;
    background-clip: padding-box;
    padding: 1rem;
    -webkit-appearance: none;
    margin: 0.5rem 0;
    min-width: 1rem;
  }

  input {
    padding-left: 2rem;
  }

  input::-webkit-input-placeholder {
    color: rgb(211, 211, 211);
  }

  input:focus {
    border-bottom: $thin-border solid $focus-color;
    outline: 0;
  }
}


@include tablet {
  h1,
  h2 {
    font-size: 5.5rem;
  }

  .content {
    padding: 8rem 3rem;
  }

  .cities {
    padding: .5rem;
  }

  .content h2 {
    text-align: center;
  }
}

@include phone {
  h1,
  h2 {
    font-size: 4.7rem;
  }


  .content {
    padding: 1rem;
  }
}
