
$main-color: #830065;
//$main-color: #00837e;
$focus-color: #4c85f5;
$widget-color: #e6e6e6;
$input-color: #fff;
$background-color: rgb(245, 245, 245);
$content-color: #fff;

$light-shadow: 0 1rem 1rem rgba(0, 0, 0, .05);
$hard-shadow: 0 .5rem 2.5rem rgba(0, 0, 0, .1);

$thin-border: .3rem;
$fat-border: 1rem;
$border-radius: .3rem;
$header-height: 8rem;


$big-size: 1000px;
$tablet-size: 800px;
$phone-size: 440px;


@mixin bigtablet {
  @media (max-width: $big-size) {
    @content;
  }
}


@mixin tablet {
  @media (max-width: $tablet-size) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $phone-size) {
    @content;
  }
}
